@use 'base/variables' as v;
@use 'base/mixins' as m;

.stores {
    margin-top: v.$spacing;
    padding: v.$spacing 0;
    background-color: v.$light-gray;

    &__grid {
        @include m.tablet {
            @include m.grid(2, v.$spacing);
            align-items: center;
            justify-content: center;
        }
    }

    &__heading,
    &__text {
        text-align: center;
    }

    &__heading {
        color: v.$secondary;
        margin-bottom: 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;

        @include m.tablet {
            margin-top: 0;
            gap: 1rem;
        }
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include m.tablet {
            margin-top: 2rem;
        }

        @include m.desktop {
            flex-direction: row;
            gap: 2rem;
        }
    }

    &__logo,
    &__img {
        margin: 0 auto;
        max-width: 40rem;
        width: 100%;

        @include m.tablet {
            max-width: 30rem;
        }
    }

    &__img {
        transition: v.$transition-2;
        -webkit-transition: v.$transition-2;
        -moz-transition: v.$transition-2;
        -ms-transition: v.$transition-2;
        -o-transition: v.$transition-2;

        &:hover {
            transform: rotate(5deg) scale(1.2);
            -webkit-transform: rotate(5deg) scale(1.2);
            -moz-transform: rotate(5deg) scale(1.2);
            -ms-transform: rotate(5deg) scale(1.2);
            -o-transform: rotate(5deg) scale(1.2);
        }
    }

    &__logo {
        transition: v.$transition-2;
        -webkit-transition: v.$transition-2;
        -moz-transition: v.$transition-2;
        -ms-transition: v.$transition-2;
        -o-transition: v.$transition-2;

        &:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
    }
}