@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: v.$font-family-primary;
    font-size: v.$fs-normal;
}

h1, h2, h3 {
    margin: 0 0 v.$spacing  0 ;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}

p {
    color: v.$dark;
    font-size: v.$fs-large;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}