/* CUSTOM PROPERTIES */

/* Font properties */
$font-family-primary: 'Roboto', sans-serif;

$fs-normal: 1.6rem;
$fs-medium: 1.8rem;
$fs-large: 2rem;

$fw-normal: 400;
$fw-bold: 700;
$fw-black: 900;


/* Media Queries */
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

/* Color Palette */
$primary: #e8505b;
$secondary: #455a64; 
$dark: #000;
$light: #FFFFFF;
$light-gray: #eceeef;

/* Spacing */
$spacing: 5rem;

/* Border radius */
$border-radius-1: 1rem;

/* Transitions */
$transition-1: background-color .3s ease;