@use 'base/variables' as v;
@use 'base/mixins' as m;

/* STEPS SECTION */
.steps {
    margin-top: v.$spacing;

    @include m.tablet {
        margin-top: 5rem;
    }

    &__wave {
        margin-bottom: -0.1rem;
    }

    &__content {
        background-color: v.$primary;
    }

    &__grid {
        @include m.tablet {
            @include m.grid(3, v.$spacing);
        }
    }

    &__heading {
        color: v.$light;
        text-align: center;

        &--description {
            display: block;
            font-size: v.$fs-large;
            margin-top: 1rem;
        }
    }

    &__card {
        transition: v.$transition-2;
        -webkit-transition: v.$transition-2;
        -moz-transition: v.$transition-2;
        -ms-transition: v.$transition-2;
        -o-transition: v.$transition-2;

        &:hover {
            transform: rotate(-5deg) scale(1.2);
            -webkit-transform: rotate(-5deg) scale(1.2);
            -moz-transform: rotate(-5deg) scale(1.2);
            -ms-transform: rotate(-5deg) scale(1.2);
            -o-transform: rotate(-5deg) scale(1.2);
        }
    }
}